@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: hotpink;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;

  a {
    color: white;
    text-decoration: none;
    padding: 13px 18px;
    font-size: 21px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  li {
    margin-right: 12px;

    a {
      font-size: 16px;
    }
  }

  &Icon {
    display: none;
  }
}
