.profile {
  width: 100%;
  height: 92vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: ghostwhite;

  &Box {
    width: 70%;
    height: 70%;
    overflow: hidden;
    margin-top: 1rem;
    padding: 1rem 1.5rem;

    ul {
      margin: 1rem 1.5rem;
    }

    li {
      margin-bottom: 0.5rem;

      span {
        font-weight: bold;
      }

      a {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
